In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\amogh\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\amogh\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\amogh\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\amogh\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\amogh\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: sniffio in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\amogh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\amogh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\amogh\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\amogh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\amogh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

## Now we will download the webdriver for web browser 
the steps are as follows 1) Check browser version 2)open the link https://chromedriver.chromium.org/downloads   3)download the webdriver according to your web browser version

In [4]:
# importing all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [5]:
# Connecting to the web driver
driver = webdriver.Chrome(r'C:\Users\amogh\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
# Maximize the automated chrome window
driver.maximize_window()

In [7]:
# opening the naukri.com website using automated chrome window
url = 'https://www.naukri.com/'
driver .get(url)

In [10]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

In [12]:
# finding web element for search location bar using absolute xpath
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

In [15]:
# clicking using absolute xpath function
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

# Extracting Job titles

In [32]:
# Let's extract all web elements having job titles
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [33]:
job_titles

['APRP Manager / Senior Data Analyst - MeritTrac Services',
 'Senior Data Analyst - PLM Data Migration',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst']

# Extracting Company Names

In [34]:
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_names.append(i.text)
company_names

['MeritTrac',
 'CGI',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Elasticsearch',
 'NMS Consultant',
 'IBM',
 'IBM']

In [35]:
len(company_names)

10

# Extracting Experience

In [36]:
# extracting all web elements having experience using parent tag
experience = []
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    experience.append(i.text)
len(experience)

10

# Extracting Location

In [37]:
location = []
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in locn_tags[0:10]:
    location.append(i.text)
len(location)

10

In [38]:
len(job_titles), len(company_names), len(experience), len(location)

(10, 10, 10, 10)

In [40]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs

,Job Title,Company,Experience,Location
0,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,9-14 Yrs,9-14 Yrs
1,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,3-6 Yrs
2,Associate Healthcare Research & Data Analyst,Clarivate,3-4 Yrs,3-4 Yrs
3,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,4-7 Yrs
4,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,5-8 Yrs
5,Master Data Management Business Analyst,Accenture,6-8 Yrs,6-8 Yrs
6,Data Analyst,Elasticsearch,2-5 Yrs,2-5 Yrs
7,Sr. Data Analyst (SAS Data Management),NMS Consultant,5-10 Yrs,5-10 Yrs
8,Data Analyst,IBM,3-4 Yrs,3-4 Yrs
9,Data Analyst,IBM,3-4 Yrs,3-4 Yrs